html {
	color: black;
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #36465d;
	min-width: 400px;
}

h1 {
	color:black;
}

a {
	color:white;
	text-decoration:none;
}

ol {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #2C4762;
	background-image: none;
	background-origin: padding-box;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: block;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: #444;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

li a {
	color:#444;
}

li {
	background-color: white;
	border-bottom-color: #BBB;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: list-item;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: #444;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	position: relative;
	word-wrap: break-word;
}

#nowplayingdiv {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #BBC552;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAMAAAAi9pZaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFzdVozdRozNRozNRnfqYzEAAAADRJREFUeNpci8kRADAIAjn67zmI4yc+FBYESWQ0C9TeJUrisCaHiT7UR6natdbYr1/wBBgAClIAMo7zpuYAAAAASUVORK5CYII=);
	background-origin: padding-box;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #C4CDD6;
	display: block;
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	outline-color: #C4CDD6;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	position: relative;
	clear: left;
}

#nowplayingdiv span {
	color: #3B440F;
	cursor: auto;
	display: inline;
	height: 0px;
	outline-color: #3B440F;
	outline-style: none;
	outline-width: 0px;
	text-decoration: none;
	width: 0px;
}

#heading {
	width: 100%;
	height: 64px;
}

#heading h1 {
	color: white;
	float: left;
	line-height: 32px;
	vertical-align: absmiddle;
	margin-left: 10px;
}

div#statistics {
	position: absolute;
	bottom: 0%;
}

#controls{
	text-align: center;
	width: 100%
}

#controls a {
	margin: 20px;
}

#statusbar{
	position: relative;
	height: 12px;
	background-color: #CDD568;
	border: 2px solid #EAF839;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	overflow: hidden;
	margin-top: 4px;
}

.remove {
	position: absolute;
	right: 8px;
	top: 8px;
}

.position, .position2, .loading {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 12px;
}

.position {
	background-color: #3B440F;
	border-right: 2px solid #3B440F;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 20px;
}

.position2 {
	background-color: #EAF839;
}

.loading {
	background-color: #BBC552;
}
